img {
    position: absolute;
    bottom: 0px;
    width: 12%;
    left: 45%;
    animation: ball 3s infinite;
    animation-timing-function: linear;
}

@keyframes ball {
    0% {
        left: 45%;
        bottom: 0px;
        transform: rotate(0deg);
    }
    25% {
        left: 0%;
        bottom: 45%;
        transform: rotate(720deg);
    }
    50% {
        left: 45%;
        bottom: 85%;
    }
    75% {
        left: 85%;
        bottom: 45%;
    }
    100% {
        left: 45%;
        bottom: 0%;
    }
}