body {
    margin: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

#header {
    background-color: lightblue;
    text-align: center;
    padding: 5px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
}

#content {
    margin-top: 120px;
}

#sidebar_1 {
    width: 20%;
    background-color: lightgray;
    padding: 10px;
    position: fixed;
    height: 80%;
    overflow: scroll;
}

#sidebar_1 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar_1 ul li {
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
}

#sidebar_1 ul li a {
    text-decoration: none;
    color: red;
}

#main {
    width: 50%;
    margin-left: 23%;
    background-color: lightgray;
    padding: 10px;
}

#sidebar_2 {
    width: 22%;
    background-color: lightgray;
    padding: 10px;
}